* {
    box-sizing: border-box;
}

.containerChoices {
    display: flex;
    justify-content: space-between;
    width: 435px;
    background-color: pink;
    padding: 10px;
    border: 3px solid darkred;
    border-bottom: 0px;
}

.containerChoices button {
    font-size: 20px;
    border-radius: 5px;
}

.gameInfo {
    font-size: 20px;
    width: 435px;
    background-color: pink;
    padding: 10px;
    border: 3px solid darkred;
    text-align: center;
}

.choiceTaken {
    display: flex;
    justify-content: space-between;
    width: 435px;
    background-color: pink;
    padding: 10px;
    border: 3px solid darkred;
    border-top: 0px;
    font-size: 20px;
}

.scoreBoard {
    display: flex;
    justify-content: space-between;
    width: 435px;
    background-color: pink;
    padding: 10px;
    border: 3px solid darkred;
    border-top: 0px;
    font-size: 20px;
}